# Tokyo Wards web scrapping

In [ ]:
#importing libraries for scrapping web page
!pip install beautifulsoup4
!pip install lxml
!from bs4 import BeautifulSoup

In [2]:
# reading web paga
from bs4 import BeautifulSoup
import requests
url="https://en.wikipedia.org/wiki/Special_wards_of_Tokyo#List_of_special_wards"
# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text
# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [18]:
# scrapping page
Japan_table = soup.find("table", attrs={"class": "wikitable sortable"})
Japan_table_data = Japan_table.tbody.find_all("tr")  
# Get all the headings of Lists
Japan_headings = []
for th in Japan_table_data[0].find_all("th"):
    # remove any newlines and extra spaces from left and right
    Japan_headings.append(th.text.replace('\n', ' ').strip())
    print(th.text) 
print (Japan_headings)

No.

Flag

Name

Kanji

Population(as of October 2016[update])

Density(/km2)

Area(km2)

Major districts

['No.', 'Flag', 'Name', 'Kanji', 'Population(as of October\xa02016[update])', 'Density(/km2)', 'Area(km2)', 'Major districts']

In [19]:
# Load data in Japan_data
i=1
Japan_data=[]
Japan_data.append(Japan_headings)
while i <= len(Japan_table_data) - 2:
    Japan_lista = []
    for td in Japan_table_data[i].find_all("td"):
        Japan_lista.append(td.text.replace('\n', ' ').strip())
    Japan_data.append(Japan_lista)
    i +=1
print('Data final', Japan_data)

Data final [['No.', 'Flag', 'Name', 'Kanji', 'Population(as of October\xa02016[update])', 'Density(/km2)', 'Area(km2)', 'Major districts'], ['01', '', 'Chiyoda', '千代田区', '0059,441', '05,100', '011.66', 'Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi, Akihabara, Yūrakuchō, Iidabashi, Kanda'], ['02', '', 'Chūō', '中央区', '0147,620', '14,460', '010.21', 'Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōbori, Shinkawa, Tsukishima, Kachidoki, Tsukuda'], ['03', '', 'Minato', '港区', '0248,071', '12,180', '020.37', 'Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppongi, Toranomon, Aoyama, Azabu'], ['04', '', 'Shinjuku', '新宿区', '0339,211', '18,620', '018.22', 'Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ichigaya, Yotsuya, Sendagaya, Yoyogi'], ['05', '', 'Bunkyō', '文京区', '0223,389', '19,790', '011.29', 'Hongō, Yayoi, Hakusan'], ['06', '', 'Taitō', '台東区', '0200,486', '19,830', '010.11', 'Ueno, Asakusa'], ['07', '', 'Sumida', '墨田区', '0260,358', '18,910', '013.77', 'Kinshichō, Morishita, Ryōgoku'], ['08', '', 'Kōtō', '江東区', '0502,579', '12,510', '040.16', 'Kiba, Ariake, Kameido, Tōyōchō, Monzennakachō, Fukagawa, Kiyosumi, Shirakawa, Etchūjima, Sunamachi, Aomi'], ['09', '', 'Shinagawa', '品川区', '0392,492', '17,180', '022.84', 'Shinagawa, Gotanda, Ōsaki, Hatanodai, Ōimachi, Tennōzu'], ['10', '', 'Meguro', '目黒区', '0280,283', '19,110', '014.67', 'Meguro, Nakameguro, Jiyugaoka, Komaba, Aobadai'], ['11', '', 'OtaŌta', '大田区', '0722,608', '11,910', '060.66', 'Ōmori, Kamata, Haneda, Den-en-chōfu'], ['12', '', 'Setagaya', '世田谷区', '0910,868', '15,690', '058.05', 'Shimokitazawa, Kinuta, Karasuyama, Tamagawa'], ['13', '', 'Shibuya', '渋谷区', '0227,850', '15,080', '015.11', 'Shibuya, Ebisu, Harajuku, Daikanyama, Hiroo'], ['14', '', 'Nakano', '中野区', '0332,902', '21,350', '015.59', 'Nakano'], ['15', '', 'Suginami', '杉並区', '0570,483', '16,750', '034.06', 'Kōenji, Asagaya, Ogikubo'], ['16', '', 'Toshima', '豊島区', '0294,673', '22,650', '013.01', 'Ikebukuro, Komagome, Senkawa, Sugamo'], ['17', '', 'Kita', '北区', '0345,063', '16,740', '020.61', 'Akabane, Ōji, Tabata'], ['18', '', 'Arakawa', '荒川区', '0213,648', '21,030', '010.16', 'Arakawa, Machiya, Nippori, Minamisenju'], ['19', '', 'Itabashi', '板橋区', '0569,225', '17,670', '032.22', 'Itabashi, Takashimadaira'], ['20', '', 'Nerima', '練馬区', '0726,748', '15,120', '048.08', 'Nerima, Ōizumi, Hikarigaoka'], ['21', '', 'Adachi', '足立区', '0674,067', '12,660', '053.25', 'Ayase, Kitasenju, Takenotsuka'], ['22', '', 'Katsushika', '葛飾区', '0447,140', '12,850', '034.80', 'Tateishi, Aoto, Kameari, Shibamata'], ['23', '', 'Edogawa', '江戸川区', '0685,899', '13,750', '049.90', 'Kasai, Koiwa']]

In [33]:
# Create CSV file with Japan_data
import csv 
#data to be written row-wise in csv fil 
data = Japan_data
# opening the csv file in 'w+' mode 
file = open('Japan_WardTokyo.csv', 'w+', newline ='') 
  
# writing the data into the file 
with file:     
    write = csv.writer(file) 
    write.writerows(data)

In [34]:
# read CSV JapanData.csv
import pandas as pd
df = pd.read_csv("Japan_WardTokyo.csv")
#df = pd.DataFrame(Japan_data) we could also get this information like this 
df.dtypes

No.                                         int64
Flag                                      float64
Name                                       object
Kanji                                      object
Population(as of October 2016[update])     object
Density(/km2)                              object
Area(km2)                                 float64
Major districts                            object
dtype: object

In [35]:
df.head()

,No.,Flag,Name,Kanji,Population(as of October 2016[update]),Density(/km2),Area(km2),Major districts
0,1,NaN,Chiyoda,千代田区,"0059,441","05,100",11.66,"Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi,..."
1,2,NaN,Chūō,中央区,"0147,620","14,460",10.21,"Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōb..."
2,3,NaN,Minato,港区,"0248,071","12,180",20.37,"Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppong..."
3,4,NaN,Shinjuku,新宿区,"0339,211","18,620",18.22,"Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ich..."
4,5,NaN,Bunkyō,文京区,"0223,389","19,790",11.29,"Hongō, Yayoi, Hakusan"

In [36]:
#rename columns
df.rename({'Major districts':'MajorDistricts'},errors="raise", axis=1, inplace=True)
df.rename({'Population(as of October\xa02016[update])':'Poblacion'},errors="raise",axis=1,inplace=True)
print('Renaming fields Done')

Renaming fields Done

In [37]:
# droping unnecesary fields
df.drop(columns=['Flag'],inplace=True)
print('Dropping field Done')

Dropping field Done

In [38]:
# check for data types
df.dtypes

No.                 int64
Name               object
Kanji              object
Poblacion          object
Density(/km2)      object
Area(km2)         float64
MajorDistricts     object
dtype: object

In [39]:
# change Polacion and Density(/km2) from object to floaot
df['Poblacion'] = df['Poblacion'].str.replace(',', '').astype(float)
df['Density(/km2)'] = df['Density(/km2)'].str.replace(',', '').astype(float)

In [40]:
df.head()

,No.,Name,Kanji,Poblacion,Density(/km2),Area(km2),MajorDistricts
0,1,Chiyoda,千代田区,59441.0,5100.0,11.66,"Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi,..."
1,2,Chūō,中央区,147620.0,14460.0,10.21,"Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōb..."
2,3,Minato,港区,248071.0,12180.0,20.37,"Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppong..."
3,4,Shinjuku,新宿区,339211.0,18620.0,18.22,"Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ich..."
4,5,Bunkyō,文京区,223389.0,19790.0,11.29,"Hongō, Yayoi, Hakusan"

In [41]:
df.to_csv(r'Japan_WardTokyo.csv', index = False)