# Retrieving and cleaning Data

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          97 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-2.0.0-pyh9f0ad1d_0



Downloading and Extracting Packages
geopy-2.0.0          | 63 KB     | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36he6145b8_1001         347 KB  conda-forge
    chardet-3.0.4              |py36h9880bd3_1008         194 KB  conda-forge
    cryptography-3.2.1         |   py36h6ec43e4_0         633 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    pandas-1.1.4               |   py36hd87012b_0        10.5 MB  conda-forge
    pysocks-1.7.1              |   py36h9880bd3_2          27 KB  conda-forge
    pytz-2020.4                |     pyhd8ed1ab_0         229 KB  conda-forge
    toolz-0.11.1               |             py_0          46 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        12.6 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-20.2.0-pyh9f0ad1d_0
  branca             conda-forge/noarch::branca-0.4.1-py_0
  brotlipy           conda-forge/linux-64::brotlipy-0.7.0-py36he6145b8_1001
  chardet            conda-forge/linux-64::chardet-3.0.4-py36h9880bd3_1008
  cryptography       conda-forge/linux-64::cryptography-3.2.1-py36h6ec43e4_0
  entrypoints        conda-forge/linux-64::entrypoints-0.3-py36h9f0ad1d_1002
  folium             conda-forge/noarch::folium-0.5.0-py_0
  idna               conda-forge/noarch::idna-2.10-pyh9f0ad1d_0
  importlib_metadata conda-forge/noarch::importlib_metadata-2.0.0-1
  jinja2             conda-forge/noarch::jinja2-2.11.2-pyh9f0ad1d_0
  jsonschema         conda-forge/noarch::jsonschema-3.2.0-py_2
  markupsafe         conda-forge/linux-64::markupsafe-1.1.1-py36he6145b8_2
  pandas             conda-forge/linux-64::pandas-1.1.4-py36hd87012b_0
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyrsistent         conda-forge/linux-64::pyrsistent-0.17.3-py36h8c4c3a4_1
  pysocks            conda-forge/linux-64::pysocks-1.7.1-py36h9880bd3_2
  pytz               conda-forge/noarch::pytz-2020.4-pyhd8ed1ab_0
  requests           conda-forge/noarch::requests-2.24.0-pyh9f0ad1d_0
  toolz              conda-forge/noarch::toolz-0.11.1-py_0
  urllib3            conda-forge/noarch::urllib3-1.25.11-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages
pytz-2020.4          | 229 KB    | ##################################### | 100%
cryptography-3.2.1   | 633 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
pandas-1.1.4         | 10.5 MB   | ##################################### | 100%
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
brotlipy-0.7.0       | 347 KB    | ##################################### | 100%
chardet-3.0.4        | 194 KB    | ##################################### | 100%
branca-0.4.1         | 26 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
toolz-0.11.1         | 46 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

## Mexico DATA

### Population by State

In [146]:
import os
print(os.getcwd())
df = pd.read_csv('cpv_00.csv',usecols = ['cve_entidad','desc_entidad','cve_municipio','desc_municipio','id_indicador','2015'],skiprows=4)

/resources/labs/DS0701EN

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [147]:
df.head()

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,2015
0,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000001,119938473
1,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000002,NaN
2,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000003,NaN
3,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000004,25.6759940264076
4,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000005,12.6075755584004

In [148]:
#[lambda x: x['id_indicador']= '1002000001']                         
df.shape

(213102, 6)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213102 entries, 0 to 213101
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cve_entidad     213102 non-null  int64
 1   desc_entidad    213102 non-null  object
 2   cve_municipio   213102 non-null  int64
 3   desc_municipio  213102 non-null  object
 4   id_indicador    213102 non-null  int64
 5   2015            147229 non-null  object
dtypes: int64(3), object(3)
memory usage: 9.8+ MB

In [150]:
df.drop(df[df.id_indicador!=1002000001].index,inplace=True)

In [151]:
df.drop(df[df.desc_municipio != 'Estatal'].index,inplace=True)
df.drop(columns=['desc_municipio'],inplace=True)
df.drop(columns=['id_indicador'],inplace=True)

In [163]:
df.rename(columns={'2015':'Population'},inplace=True)

In [164]:
df.head()

      cve_entidad          desc_entidad  cve_municipio Population
287             1        Aguascalientes              0    1316032
1416            2       Baja California              0    3348898
2041            3   Baja California Sur              0     718384
2666            4              Campeche              0     902250
3795            5  Coahuila de Zaragoza              0    2961708

In [165]:
df.shape

(32, 4)

In [166]:
df['Population'] = df['Population'].astype(float)

In [167]:
#check for null values
df.isnull().values.any()

False

In [168]:
#verify the number of states
df.count()

cve_entidad      32
desc_entidad     32
cve_municipio    32
Population       32
dtype: int64

In [169]:
# verify consistency of data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 287 to 208025
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cve_entidad    32 non-null     int64
 1   desc_entidad   32 non-null     object
 2   cve_municipio  32 non-null     int64
 3   Population     32 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

In [170]:
# Total Population in Mexico
df['Population'].sum()

119938472.0

In [171]:
#List of States
df.desc_entidad.unique

<bound method Series.unique of 287                        Aguascalientes
1416                      Baja California
2041                  Baja California Sur
2666                             Campeche
3795                 Coahuila de Zaragoza
7192                               Colima
8237                              Chiapas
18389                           Chihuahua
24157                    Ciudad de México
25706                             Durango
29187                          Guanajuato
33256                            Guerrero
40265                             Hidalgo
47526                             Jalisco
58231                              México
68936                 Michoacán de Ocampo
78633                             Morelos
81610                             Nayarit
83495                          Nuevo León
87984                              Oaxaca
136017                             Puebla
154437                          Querétaro
156154                       Quintana Roo
157174                    San Luis Potosí
162251                            Sinaloa
163968                             Sonora
170208                            Tabasco
171841                         Tamaulipas
175658                           Tlaxcala
180903    Veracruz de Ignacio de la Llave
198916                            Yucatán
208025                          Zacatecas
Name: desc_entidad, dtype: object>

In [172]:
df['desc_entidad'].nunique()

32

In [176]:
# order the municipalities by population
df.sort_values(by=['Population'],ascending=False)

,cve_entidad,desc_entidad,cve_municipio,Population
58231,15,México,0,16225409.0
24157,9,Ciudad de México,0,8985339.0
180903,30,Veracruz de Ignacio de la Llave,0,8127832.0
47526,14,Jalisco,0,7880539.0
136017,21,Puebla,0,6183320.0
29187,11,Guanajuato,0,5864777.0
8237,7,Chiapas,0,5228711.0
83495,19,Nuevo León,0,5131938.0
68936,16,Michoacán de Ocampo,0,4599104.0
87984,20,Oaxaca,0,3976297.0
18389,8,Chihuahua,0,3569479.0
33256,12,Guerrero,0,3542204.0
171841,28,Tamaulipas,0,3453525.0
1416,2,Baja California,0,3348898.0
162251,25,Sinaloa,0,2977104.0
3795,5,Coahuila de Zaragoza,0,2961708.0
163968,26,Sonora,0,2874391.0
40265,13,Hidalgo,0,2862970.0
157174,24,San Luis Potosí,0,2723772.0
170208,27,Tabasco,0,2400967.0
198916,31,Yucatán,0,2102259.0
154437,22,Querétaro,0,2043851.0
78633,17,Morelos,0,1912211.0
25706,10,Durango,0,1759848.0
208025,32,Zacatecas,0,1581575.0
156154,23,Quintana Roo,0,1505785.0
287,1,Aguascalientes,0,1316032.0
175658,29,Tlaxcala,0,1274227.0
81610,18,Nayarit,0,1188671.0
2666,4,Campeche,0,902250.0
2041,3,Baja California Sur,0,718384.0
7192,6,Colima,0,715095.0

In [30]:
# saving the results
df.to_csv(r'Mexico_General_Population', index = False)

### Mexico Population by Municipality

In [96]:
df = pd.read_csv('cpv_00.csv',usecols = ['cve_entidad','desc_entidad','cve_municipio','desc_municipio','id_indicador','2010'],skiprows=4)

In [97]:
df.head()

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,2010
0,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000001,112336538.0
1,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000002,54855231.0
2,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000003,57481307.0
3,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000004,26.8
4,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,1002000005,26.8

In [98]:
df.shape

(213102, 6)

In [99]:
# only include rows with total population
df.drop(df[df.id_indicador!=1002000001].index,inplace=True)
df.drop(df[df.cve_municipio == 0].index,inplace=True)
df.drop(columns=['id_indicador'],inplace=True)
df.rename(columns={'2010':'Population'},inplace=True)

In [100]:
# check for nulls values
df.isnull().values.any()

True

In [101]:
df.isnull().sum()

cve_entidad       0
desc_entidad      0
cve_municipio     0
desc_municipio    0
Population        1
dtype: int64

In [102]:
# with this we will get : a) average population by state and b) number of municipalities on each state
avgPopulation = df.groupby(['desc_entidad'])['Population'].agg(['mean', 'sum', 'count', 'std'])

In [103]:
avgPopulation

,mean,sum,count,std
desc_entidad,,,,
Aguascalientes,107726.909091,1184996.0,11,229994.437097
Baja California,631014.000000,3155070.0,5,623641.250008
Baja California Sur,127405.200000,637026.0,5,109480.770424
Campeche,74767.363636,822441.0,11,84801.303331
Chiapas,40648.983051,4796580.0,118,64204.905396
Chihuahua,50842.761194,3406465.0,67,188789.396059
Ciudad de México,553192.500000,8851080.0,16,418758.423417
Coahuila de Zaragoza,72326.078947,2748391.0,38,154019.817197
Colima,65055.500000,650555.0,10,62251.102038
Durango,41870.102564,1632934.0,39,104233.959935
Guanajuato,119268.956522,5486372.0,46,224243.100561
Guerrero,41836.641975,3388768.0,81,91437.182804
Hidalgo,31726.404762,2665018.0,84,38425.043577
Jalisco,58805.456000,7350682.0,125,187164.091338
Michoacán de Ocampo,38504.752212,4351037.0,113,78208.258295
Morelos,53855.363636,1777227.0,33,72107.123548
México,121406.896000,15175862.0,125,228407.770555
Nayarit,54248.950000,1084979.0,20,82098.818306
Nuevo León,91244.274510,4653458.0,51,206305.429645
Oaxaca,6670.108772,3801962.0,570,16124.095176
Puebla,26635.156682,5779829.0,217,107280.630109
Querétaro,101552.055556,1827937.0,18,183942.872239
Quintana Roo,147286.444444,1325578.0,9,206780.865483
San Luis Potosí,44577.896552,2585518.0,58,105925.806085
Sinaloa,153764.500000,2767761.0,18,219065.275818
Sonora,36978.888889,2662480.0,72,109176.482194
Tabasco,131682.529412,2238603.0,17,145485.329293
Tamaulipas,76012.883721,3268554.0,43,140410.470689
Tlaxcala,19498.933333,1169936.0,60,20481.562116
Veracruz de Ignacio de la Llave,36052.801887,7643194.0,212,60245.603548
Yucatán,18448.839623,1955577.0,106,81053.352246
Zacatecas,25701.172414,1490668.0,58,38508.708894

In [104]:
df[df.Population.isnull()]

       cve_entidad desc_entidad  cve_municipio    desc_municipio  Population
18354            7      Chiapas            998  Otros municipios         NaN

In [105]:
# replacing Nan for Chiapas, Municicpality = 998, with  0
df.at[18354,'Population']= 0

In [106]:
# this should be false
df.isnull().values.any()

False

In [107]:
df.to_csv(r'Mexico_StatePopulation', index = False)

# Japan Data

## Japan Population by perfecture

In [126]:
import os
import pandas as pd
dfJapan = pd.read_csv('Data Population ALL Japan FEI_PREF_201026050834.csv',usecols = ['YEAR','AREA Code','AREA','A1101_Total population (Both sexes)[person]'],skiprows=8)

In [127]:
dfJapan.dtypes

YEAR                                            int64
AREA Code                                       int64
AREA                                           object
A1101_Total population (Both sexes)[person]    object
dtype: object

In [128]:
dfJapan['YEAR'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986,
       1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975])

In [129]:
dfJapan.drop(dfJapan[dfJapan.YEAR!=2018].index,inplace=True)

In [130]:
dfJapan.rename(columns={'A1101_Total population (Both sexes)[person]': 'Population'},inplace=True)

In [137]:
dfJapan['Population']= dfJapan['Population'].str.replace(",","").astype(float)

In [111]:
dfJapan.dtypes

YEAR           int64
AREA Code      int64
AREA          object
Population    object
dtype: object

In [138]:
dfJapan.head()

   YEAR  AREA Code        AREA  Population
0  2018       1000    Hokkaido   5286000.0
1  2018       2000  Aomori-ken   1263000.0
2  2018       3000   Iwate-ken   1241000.0
3  2018       4000  Miyagi-ken   2316000.0
4  2018       5000   Akita-ken    981000.0

In [141]:
# total perfectures in Japan
dfJapan['AREA'].count()

47

In [174]:
# perfectures order by Population
dfJapan.sort_values(by=['Population'],ascending=False)

    YEAR  AREA Code           AREA  Population
12  2018      13000       Tokyo-to  13822000.0
13  2018      14000   Kanagawa-ken   9177000.0
26  2018      27000       Osaka-fu   8813000.0
22  2018      23000      Aichi-ken   7537000.0
10  2018      11000    Saitama-ken   7330000.0
11  2018      12000      Chiba-ken   6255000.0
27  2018      28000      Hyogo-ken   5484000.0
0   2018       1000       Hokkaido   5286000.0
39  2018      40000    Fukuoka-ken   5107000.0
21  2018      22000   Shizuoka-ken   3659000.0
7   2018       8000    Ibaraki-ken   2877000.0
33  2018      34000  Hiroshima-ken   2817000.0
25  2018      26000       Kyoto-fu   2591000.0
3   2018       4000     Miyagi-ken   2316000.0
14  2018      15000    Niigata-ken   2246000.0
19  2018      20000     Nagano-ken   2063000.0
20  2018      21000       Gifu-ken   1997000.0
9   2018      10000      Gumma-ken   1952000.0
8   2018       9000    Tochigi-ken   1946000.0
32  2018      33000    Okayama-ken   1898000.0
6   2018       7000  Fukushima-ken   1864000.0
23  2018      24000        Mie-ken   1791000.0
42  2018      43000   Kumamoto-ken   1757000.0
45  2018      46000  Kagoshima-ken   1614000.0
46  2018      47000    Okinawa-ken   1448000.0
24  2018      25000      Shiga-ken   1412000.0
34  2018      35000  Yamaguchi-ken   1370000.0
37  2018      38000      Ehime-ken   1352000.0
41  2018      42000   Nagasaki-ken   1341000.0
28  2018      29000       Nara-ken   1339000.0
1   2018       2000     Aomori-ken   1263000.0
2   2018       3000      Iwate-ken   1241000.0
43  2018      44000       Oita-ken   1144000.0
16  2018      17000   Ishikawa-ken   1143000.0
5   2018       6000   Yamagata-ken   1090000.0
44  2018      45000   Miyazaki-ken   1081000.0
15  2018      16000     Toyama-ken   1050000.0
4   2018       5000      Akita-ken    981000.0
36  2018      37000     Kagawa-ken    962000.0
29  2018      30000   Wakayama-ken    935000.0
40  2018      41000       Saga-ken    819000.0
18  2018      19000  Yamanashi-ken    817000.0
17  2018      18000      Fukui-ken    774000.0
35  2018      36000  Tokushima-ken    736000.0
38  2018      39000      Kochi-ken    706000.0
31  2018      32000    Shimane-ken    680000.0
30  2018      31000    Tottori-ken    560000.0

In [177]:
dfJapan.to_csv(r'Japan_General_Population', index = False)

### Tokyo population by Ward

### This information was gathered from wikipedia (see notebook : BeautifulSoap.ipynb)

In [20]:
import pandas as pd
# this file comes from notebook BeautifulSoap.ipynb 
df = pd.read_csv('Japan_WardTokyo.csv')
df.head()

,No.,Name,Kanji,Poblacion,Density(/km2),Area(km2),MajorDistricts
0,1,Chiyoda,千代田区,59441.0,5100.0,11.66,"Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi,..."
1,2,Chūō,中央区,147620.0,14460.0,10.21,"Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōb..."
2,3,Minato,港区,248071.0,12180.0,20.37,"Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppong..."
3,4,Shinjuku,新宿区,339211.0,18620.0,18.22,"Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ich..."
4,5,Bunkyō,文京区,223389.0,19790.0,11.29,"Hongō, Yayoi, Hakusan"

In [11]:
df.sort_values("Name")
df.shape

(23, 7)

In [21]:
# include Postal Codes 
PostalCode = [13101,13102,13103,13104,13105,13106,13107,13108,13109,13110,13111,13112,13113,13114,13115,13116,13117,13118,13119,13120,13121,13122,13123]
df['PostalCode'] = PostalCode

In [22]:
df.head()

,No.,Name,Kanji,Poblacion,Density(/km2),Area(km2),MajorDistricts,PostalCode
0,1,Chiyoda,千代田区,59441.0,5100.0,11.66,"Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi,...",13101
1,2,Chūō,中央区,147620.0,14460.0,10.21,"Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōb...",13102
2,3,Minato,港区,248071.0,12180.0,20.37,"Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppong...",13103
3,4,Shinjuku,新宿区,339211.0,18620.0,18.22,"Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ich...",13104
4,5,Bunkyō,文京区,223389.0,19790.0,11.29,"Hongō, Yayoi, Hakusan",13105

In [23]:
df.to_csv(r'Japan_WardTokyo_PostalCodes', index = False)

In [24]:
df = pd.read_csv('Japan_WardTokyo_PostalCodes')
df.head()

,No.,Name,Kanji,Poblacion,Density(/km2),Area(km2),MajorDistricts,PostalCode
0,1,Chiyoda,千代田区,59441.0,5100.0,11.66,"Nagatachō, Kasumigaseki, Ōtemachi, Marunouchi,...",13101
1,2,Chūō,中央区,147620.0,14460.0,10.21,"Nihonbashi, Kayabachō, Ginza, Tsukiji, Hatchōb...",13102
2,3,Minato,港区,248071.0,12180.0,20.37,"Odaiba, Shinbashi, Hamamatsuchō, Mita, Roppong...",13103
3,4,Shinjuku,新宿区,339211.0,18620.0,18.22,"Shinjuku, Takadanobaba, Ōkubo, Kagurazaka, Ich...",13104
4,5,Bunkyō,文京区,223389.0,19790.0,11.29,"Hongō, Yayoi, Hakusan",13105